<form style="text-align: right;"  method="GET">
    <input type="date" name="date" value="<%=data.date%>" onchange="this.form.submit()">
    <!-- <button type ="submit"> submit </button>  -->
    </form>
  <center>
  <h1><%= data.msg%></h1>
  </center>